.price-screen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 167px;
    margin-bottom: 217px;
}

.price-title{
    margin: 0;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
}

.price-text{
    color: #6F7CB2;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    width: 730px;
    padding-bottom: 88px;
    padding-top: 16px;
}


.price-blocks{
    display: flex;
    justify-content: space-between;
   
}

.block-of-price{
    width: 30%;
}

.title-price-block{
    color: #37447E;
    font-family: "Roboto";
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px; 
    width: 350px;
}

.title-price-block-mini{
    color: #091133;
    font-family: "Roboto";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
    width: 350px;
    padding-top: 16px;
}

.price-text-block{
    color: #5D6970;
    font-family: "Roboto";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    padding-top: 16px;
    padding-bottom: 34px;

}

.price-buttons{
    border-radius: 2px;
    display: block;
    background: #111B47;
    border: none;
    padding-top: 4px;
    cursor: pointer;
    color: white;
    font-family: "Roboto";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    line-height: 18px;
    width: 189px;
    height: 26px;
}

.tester{
    border-radius: 2px;
    background: #111B47;
}

.price-buttons:hover{
    background-color: rgb(14, 14, 104);
    transition: 0.3s;
}